html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background: no-repeat center center fixed;
    background-size: cover;
    color: rgb(246, 242, 247);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #2d2c2d;
    height:100dvh;
}

main{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height:100%;  
}
div.top{
    display: flex;
    width:100%;
    justify-content: space-between;
}

h1.time{
    align-self: center;
    color: rgb(250, 248, 250);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #3d3b3d;
    font-size: 2.2rem;
}

.crypto-value{
    display: flex;
    flex-direction: column;
    margin:0;

}
.crypto-value .img-cont{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 0;
    font-size: 1.3rem;
}
.crypto-value .crypto-price{
    margin:0 0 0.6em 0;
    font-size: 1.1rem;
}
div img{
    margin: 0 0.3em 0.5em 0;
}

.weather{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}
.weather p{
    display:flex;
    align-items: center;
    max-height:40px;
    margin:0;
    font-size: 1.2rem;
}

.weather-city{
    font-size: 1.15rem;
}

